In [20]:
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number

In [21]:
my_usecols= ['id', 
'zipcode',
'transit',
'bedrooms',
'beds',
'review_scores_rating',
'number_of_reviews',
'neighbourhood',
'name',
'latitude',
'longitude',
'last_review',
'instant_bookable',
'host_since',
'host_response_rate',
'host_identity_verified',
'host_has_profile_pic',
'first_review',
'description',
'city',
'cancellation_policy',
'bathrooms',
'accommodates',
'amenities',
'room_type',
'property_type',
'price',
'availability_365',
'minimum_nights']

location1 = r'../../data/february/listings.csv'
feb_listing = pd.read_csv(location1, usecols=my_usecols)
location2 = r'../../data/march/listings.csv'
mar_listing = pd.read_csv(location2,usecols=my_usecols)
location3 = r'../../data/april/listings.csv'
apr_listing = pd.read_csv(location3,usecols=my_usecols)

feb_listing.insert(loc = len(feb_listing.columns), column='month', value='02_February')
mar_listing.insert(loc = len(mar_listing.columns), column='month', value='03_March')
apr_listing.insert(loc = len(apr_listing.columns), column='month', value='04_April')

In [22]:
all_listings = pd.concat([feb_listing,mar_listing, apr_listing])

In [23]:
all_listings = all_listings.replace(to_replace = {'price':'\$'}, value='', regex=True)
all_listings = all_listings.replace(to_replace = {'price':'\,'}, value='', regex=True)

In [24]:
all_listings = all_listings.astype({'price':'float64'})

In [25]:
#def isEnglish(s):
   # return s.translate(s).isalnum()

In [26]:
#for index, row in all_listings.iterrows():
    #if isEnglish(row['description']) is False:
     #   print(row['description'])

In [27]:
#all_listings = all_listings['description']
all_listings

,id,name,description,transit,host_since,host_response_rate,host_has_profile_pic,host_identity_verified,neighbourhood,city,...,price,minimum_nights,availability_365,number_of_reviews,first_review,last_review,review_scores_rating,instant_bookable,cancellation_policy,month
0,10595,"96m2, 3BR, 2BA, Metro, WI-FI etc...",Athens Furnished Apartment No6 is 3-bedroom ap...,Note: 5-day ticket for all the public transpor...,2009-09-08,100%,t,t,Ambelokipi,Athens,...,71.0,1,294,17,2011-05-20,2019-01-12,96.0,t,strict_14_with_grace_period,02_February
1,10988,"75m2, 2-br, metro, wi-fi, cable TV",Athens Furnished Apartment No4 is 2-bedroom ap...,Note: 5-day ticket for all the public transpor...,2009-09-08,100%,t,t,Ambelokipi,Athens,...,82.0,1,0,31,2012-10-21,2017-11-23,92.0,t,strict_14_with_grace_period,02_February
2,10990,"50m2, Metro, WI-FI, cableTV, more",Athens Furnished Apartment No3 is 1-bedroom ap...,Note: 5-day ticket for all the public transpor...,2009-09-08,100%,t,t,Ambelokipi,Athens,...,47.0,1,282,27,2012-09-06,2019-02-01,97.0,t,strict_14_with_grace_period,02_February
3,10993,"Studio, metro, cable tv, wi-fi, etc",The Studio is an -excellent located -close t...,Note: 5-day ticket for all the public transpor...,2009-09-08,100%,t,t,Ambelokipi,Athens,...,37.0,1,286,42,2012-09-24,2019-02-02,97.0,t,strict_14_with_grace_period,02_February
4,10995,"47m2, close to metro,cable TV,wi-fi",AQA No2 is 1-bedroom apartment (47m2) -excell...,Note: 5-day ticket for all the public transpor...,2009-09-08,100%,t,t,Ambelokipi,Athens,...,47.0,2,308,16,2010-07-08,2019-01-11,95.0,t,strict_14_with_grace_period,02_February
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9656,33819692,Lysicrates Monument - Athens 33,"""Athens 33"" is a newly renovated building in N...",NaN,2014-05-09,100%,t,t,NaN,Athina,...,90.0,2,260,0,NaN,NaN,NaN,t,flexible,04_April
9657,33820145,Bright and Stylish Exarchia apartment,"Newly renovated, this two bedroom apartment is...",Omonia metro station is 600 m away from the ap...,2019-04-12,NaN,t,f,NaN,Athina,...,50.0,2,263,0,NaN,NaN,NaN,t,moderate,04_April
9658,33821757,Athens21,Athens 21 is centrally located right next to M...,NaN,2019-04-12,NaN,t,f,NaN,Athina,...,200.0,1,86,0,NaN,NaN,NaN,t,flexible,04_April
9659,33821833,Tower of Winds,"""Athens 33"" is a newly renovated building in N...",NaN,2014-05-09,100%,t,t,NaN,Athens,...,90.0,2,260,0,NaN,NaN,NaN,t,flexible,04_April
9660,33822443,Beautiful and modern Pagkrati Apartment,Beautiful and modern Pagkrati Apartment,NaN,2019-04-12,NaN,t,f,NaN,Athina,...,80.0,2,363,0,NaN,NaN,NaN,t,strict_14_with_grace_period,04_April

In [28]:
path = r'../../data/train.csv'
all_listings.to_csv(path)