In [13]:
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number

# Enable inline plotting
%matplotlib inline

#### Get all "calendar.csv" ( feb, mar, apr)

In [35]:
location1 = r'/home/sotia/Desktop/DI/Data_Mining/data/february/calendar.csv'
feb_calendar = pd.read_csv(location1)
location2 = r'/home/sotia/Desktop/DI/Data_Mining/data/march/calendar.csv'
mar_calendar = pd.read_csv(location2)
location3 = r'/home/sotia/Desktop/DI/Data_Mining/data/april/calendar.csv'
apr_calendar = pd.read_csv(location3)

In [37]:
feb_calendar

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,571492,2019-02-08,t,$264.00,$264.00,3.0,21.0
1,571492,2019-02-09,t,$264.00,$264.00,3.0,21.0
2,571492,2019-02-10,t,$264.00,$264.00,3.0,21.0
3,571492,2019-02-11,t,$264.00,$264.00,3.0,21.0
4,571492,2019-02-12,t,$264.00,$264.00,3.0,21.0
...,...,...,...,...,...,...,...
3321495,32113196,2020-02-03,t,$71.00,$71.00,1.0,1125.0
3321496,32113196,2020-02-04,t,$71.00,$71.00,1.0,1125.0
3321497,32113196,2020-02-05,t,$71.00,$71.00,1.0,1125.0
3321498,32113196,2020-02-06,t,$71.00,$71.00,1.0,1125.0
3321499,32113196,2020-02-07,t,$71.00,$71.00,1.0,1125.0

In [38]:
mar_calendar

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,10595,2019-03-11,f,$65.00,$65.00,1,45
1,10595,2019-03-12,f,$65.00,$65.00,1,45
2,10595,2019-03-13,t,$65.00,$65.00,1,45
3,496561,2019-03-11,t,$80.00,$80.00,1,1125
4,496561,2019-03-12,t,$80.00,$80.00,1,1125
...,...,...,...,...,...,...,...
3416760,32956579,2020-03-05,f,$32.00,$32.00,1,15
3416761,32956579,2020-03-06,f,$32.00,$32.00,1,15
3416762,32956579,2020-03-07,f,$32.00,$32.00,1,15
3416763,32956579,2020-03-08,f,$32.00,$32.00,1,15
3416764,32956579,2020-03-09,f,$32.00,$32.00,1,15

In [39]:
apr_calendar

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,478626,2019-04-13,f,$120.00,$120.00,1.0,30.0
1,10595,2019-04-13,f,$65.00,$65.00,1.0,45.0
2,10595,2019-04-14,f,$65.00,$65.00,1.0,45.0
3,10595,2019-04-15,f,$65.00,$65.00,1.0,45.0
4,10595,2019-04-16,f,$65.00,$65.00,1.0,45.0
...,...,...,...,...,...,...,...
3526260,33268462,2020-04-07,f,$37.00,$37.00,2.0,12.0
3526261,33268462,2020-04-08,f,$37.00,$37.00,2.0,12.0
3526262,33268462,2020-04-09,f,$37.00,$37.00,2.0,12.0
3526263,33268462,2020-04-10,f,$37.00,$37.00,2.0,12.0
3526264,33268462,2020-04-11,f,$37.00,$37.00,2.0,12.0

In [43]:
calendar = feb_calendar.append(mar_calendar)

In [41]:
feb_calendar

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,571492,2019-02-08,t,$264.00,$264.00,3.0,21.0
1,571492,2019-02-09,t,$264.00,$264.00,3.0,21.0
2,571492,2019-02-10,t,$264.00,$264.00,3.0,21.0
3,571492,2019-02-11,t,$264.00,$264.00,3.0,21.0
4,571492,2019-02-12,t,$264.00,$264.00,3.0,21.0
...,...,...,...,...,...,...,...
3321495,32113196,2020-02-03,t,$71.00,$71.00,1.0,1125.0
3321496,32113196,2020-02-04,t,$71.00,$71.00,1.0,1125.0
3321497,32113196,2020-02-05,t,$71.00,$71.00,1.0,1125.0
3321498,32113196,2020-02-06,t,$71.00,$71.00,1.0,1125.0
3321499,32113196,2020-02-07,t,$71.00,$71.00,1.0,1125.0

In [42]:
mar_calendar

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,10595,2019-03-11,f,$65.00,$65.00,1,45
1,10595,2019-03-12,f,$65.00,$65.00,1,45
2,10595,2019-03-13,t,$65.00,$65.00,1,45
3,496561,2019-03-11,t,$80.00,$80.00,1,1125
4,496561,2019-03-12,t,$80.00,$80.00,1,1125
...,...,...,...,...,...,...,...
3416760,32956579,2020-03-05,f,$32.00,$32.00,1,15
3416761,32956579,2020-03-06,f,$32.00,$32.00,1,15
3416762,32956579,2020-03-07,f,$32.00,$32.00,1,15
3416763,32956579,2020-03-08,f,$32.00,$32.00,1,15
3416764,32956579,2020-03-09,f,$32.00,$32.00,1,15

In [44]:
calendar.append(apr_calendar)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,571492,2019-02-08,t,$264.00,$264.00,3.0,21.0
1,571492,2019-02-09,t,$264.00,$264.00,3.0,21.0
2,571492,2019-02-10,t,$264.00,$264.00,3.0,21.0
3,571492,2019-02-11,t,$264.00,$264.00,3.0,21.0
4,571492,2019-02-12,t,$264.00,$264.00,3.0,21.0
...,...,...,...,...,...,...,...
3526260,33268462,2020-04-07,f,$37.00,$37.00,2.0,12.0
3526261,33268462,2020-04-08,f,$37.00,$37.00,2.0,12.0
3526262,33268462,2020-04-09,f,$37.00,$37.00,2.0,12.0
3526263,33268462,2020-04-10,f,$37.00,$37.00,2.0,12.0
3526264,33268462,2020-04-11,f,$37.00,$37.00,2.0,12.0

In [ ]:
calendar.drop()