In [25]:
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number

# Enable inline plotting
%matplotlib inline

#### Get all "calendar.csv" ( feb, mar, apr)

In [26]:
my_usecols=['id', 
'zipcode',
'transit',
'bedrooms',
'beds',
'review_scores_rating',
'number_of_reviews',
'neighbourhood',
'name',
'latitude',
'longitude',
'last_review',
'instant_bookable',
'host_since',
'host_response_rate',
'host_identity_verified',
'host_has_profile_pic',
'first_review',
'description',
'city',
'cancellation_policy',
'bathrooms',
'accommodates',
'amenities',
'room_type',
'property_type',
'price',
'availability_365',
'minimum_nights']
location1 = r'../../data/february/listings.csv'
feb_listing = pd.read_csv(location1, usecols=my_usecols)
location2 = r'../../data/march/listings.csv'
mar_listing = pd.read_csv(location2,usecols=my_usecols)
location3 = r'../../data/april/listings.csv'
apr_listing = pd.read_csv(location3,usecols=my_usecols)
location4  = r'../../data/february/listings0.csv'
feb_listing0 = pd.read_csv(location4)
location5  = r'../../data/march/listings0.csv'
mar_listing0 = pd.read_csv(location5)
location6  = r'../../data/april/listings0.csv'
apr_listing0 = pd.read_csv(location6)

feb_listing0_set = set(feb_listing0.columns)
my_usecols_set = set(my_usecols)

not_in_list = feb_listing0_set - feb_listing0_set.intersection(my_usecols_set)

In [27]:
all_listings = pd.concat([feb_listing,mar_listing, apr_listing])

all_listings0 = pd.concat([feb_listing0,mar_listing0, apr_listing0])

all_listings0 = all_listings0.drop(columns=not_in_list, axis = 1)

all_listings.append(all_listings0)

all_listings = all_listings.drop_duplicates()
all_listings

,id,name,description,transit,host_since,host_response_rate,host_has_profile_pic,host_identity_verified,neighbourhood,city,...,amenities,price,minimum_nights,availability_365,number_of_reviews,first_review,last_review,review_scores_rating,instant_bookable,cancellation_policy
0,10595,"96m2, 3BR, 2BA, Metro, WI-FI etc...",Athens Furnished Apartment No6 is 3-bedroom ap...,Note: 5-day ticket for all the public transpor...,2009-09-08,100%,t,t,Ambelokipi,Athens,...,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",$71.00,1,294,17,2011-05-20,2019-01-12,96.0,t,strict_14_with_grace_period
1,10988,"75m2, 2-br, metro, wi-fi, cable TV",Athens Furnished Apartment No4 is 2-bedroom ap...,Note: 5-day ticket for all the public transpor...,2009-09-08,100%,t,t,Ambelokipi,Athens,...,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",$82.00,1,0,31,2012-10-21,2017-11-23,92.0,t,strict_14_with_grace_period
2,10990,"50m2, Metro, WI-FI, cableTV, more",Athens Furnished Apartment No3 is 1-bedroom ap...,Note: 5-day ticket for all the public transpor...,2009-09-08,100%,t,t,Ambelokipi,Athens,...,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",$47.00,1,282,27,2012-09-06,2019-02-01,97.0,t,strict_14_with_grace_period
3,10993,"Studio, metro, cable tv, wi-fi, etc",The Studio is an -excellent located -close t...,Note: 5-day ticket for all the public transpor...,2009-09-08,100%,t,t,Ambelokipi,Athens,...,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",$37.00,1,286,42,2012-09-24,2019-02-02,97.0,t,strict_14_with_grace_period
4,10995,"47m2, close to metro,cable TV,wi-fi",AQA No2 is 1-bedroom apartment (47m2) -excell...,Note: 5-day ticket for all the public transpor...,2009-09-08,100%,t,t,Ambelokipi,Athens,...,"{TV,""Cable TV"",Internet,Wifi,""Air conditioning...",$47.00,2,308,16,2010-07-08,2019-01-11,95.0,t,strict_14_with_grace_period
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9656,33819692,Lysicrates Monument - Athens 33,"""Athens 33"" is a newly renovated building in N...",NaN,2014-05-09,100%,t,t,NaN,Athina,...,"{TV,Wifi,""Air conditioning"",Kitchen,Breakfast,...",$90.00,2,260,0,NaN,NaN,NaN,t,flexible
9657,33820145,Bright and Stylish Exarchia apartment,"Newly renovated, this two bedroom apartment is...",Omonia metro station is 600 m away from the ap...,2019-04-12,NaN,t,f,NaN,Athina,...,"{TV,Wifi,""Air conditioning"",Kitchen,Elevator,H...",$50.00,2,263,0,NaN,NaN,NaN,t,moderate
9658,33821757,Athens21,Athens 21 is centrally located right next to M...,NaN,2019-04-12,NaN,t,f,NaN,Athina,...,"{TV,Wifi,""Air conditioning"",Breakfast,Elevator...",$200.00,1,86,0,NaN,NaN,NaN,t,flexible
9659,33821833,Tower of Winds,"""Athens 33"" is a newly renovated building in N...",NaN,2014-05-09,100%,t,t,NaN,Athens,...,"{TV,Wifi,""Air conditioning"",Kitchen,Breakfast,...",$90.00,2,260,0,NaN,NaN,NaN,t,flexible
9660,33822443,Beautiful and modern Pagkrati Apartment,Beautiful and modern Pagkrati Apartment,NaN,2019-04-12,NaN,t,f,NaN,Athina,...,"{TV,Wifi,""Air conditioning"",Kitchen,Elevator,H...",$80.00,2,363,0,NaN,NaN,NaN,t,strict_14_with_grace_period